<% if user_signed_in? %>

  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>

<% else %>




        <div class="row">
        <hr>
        <div class="large-2 columns">
          <img src="http://cbsnews2.cbsistatic.com/hub/i/r/2011/11/09/58502aa0-a645-11e2-a3f0-029118418759/thumbnail/620x350/0f973121e79f37773312dcd808391986/sexy-woman-computer640x480.jpg">
          <br>
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/100px-Ruby_logo.svg.png">
          <br>
          <img src="http://www.essence.com/sites/default/files/images/embed/aa-woman-on-laptop-computer.jpg">
          <br>
          <p><a href="#">Demo: Hot Angela</a> </p>
          <!--<img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png"> -->
        </div>
        <div class="large-5 columns">
          <img src="http://thumbs.dreamstime.com/z/surprised-man-looking-sexy-woman-16418781.jpg">
        </div>
        <div class="large-5 columns">
          <h1><strong>SEX AND PROGRAMMING:</strong> </h1><h3> Let's code it, baby!</h3>
          <p>Shh … don't tell your boss. Don't tell your grandma. Don't tell your girlfriend.* Don't tell anyone about this site!</p>

          <p>Do you want the hands-down, most fun way to learn to program? Do you want it to be so memorable, so engaging, that you never forget the concepts again? Let us ask you three questions:</p>

          <div class="panel">
          <h6 class="subheader">
            <ol>
              <li>Do you <em>finally</em> want to learn to program?</li>
              <li>Do you like sex?</li>
              <li><strong>Why not do both?</strong></li>
            </ol>
          </h6>
          </div>
        </div>
        </div>

        <div class="row">

        <div class="small-2 large-4 columns"><p>At <strong>Sex and Programming</strong>, you can do two of your favorite things at the same time: look at hot girls and learn how to program.
          </p>
        </div>


        <div class="small-4 large-4 columns"><p>Think of how many browser tabs you can close! Everything's in one place now!
          </p>
        </div>


        <div class="small-6 large-4 columns"><p>Don't you want to be a better programmer? Don't you want to have the most fun doing it? Subscribe now!</p></div>

        </div>



        <div class="row">
        <hr/>
        <div class="large-6 columns">
          <h4><strong>THE CONCEPT</strong></h4>
          <p>The concept: Simples. You learn a bite-sized programming concept and get asked a question. You input your answer. If it's right, you get a hot visual surprise. If it's wrong … well, we don't want to ruin the fun!</p>
          <p>
            The science: Who are we kidding? There is no science. But we think that you will be much more motivated to get an exercise right if you know jugs are right around the corner. We know we are. You will love it.
          </p>
        </div>
        <div class="large-6 columns">
          <h4><strong>THE DEMO</strong></h4>
          <p>Try our demo lesson with Angela on the left! She and her friends are going to teach you the Ruby #chomp method so that you never, ever forget it. You will be on your deathbed, and all you'll be able to think about is Angela and #chomp.
          </p>
          <p>
            If you like the demo, there are three ways to finally learn to program. Don't be surprised if you become addicted. At the end of one of our lessons, you'll be so skilled, you'll code the back end of a killer app and make tons of money. Or you'll jerk off.
          </p>
          <p>At <strong>Sex and Programming</strong>, it is our fervent wish that you will do both.</p>
          <p>This is it! This is your solution!
            Sign up already! <strong>Let's code it, baby!</strong>
          </p>

        </div>
        </div>

  <div class="row">

              <div class="large-12 show-for-small columns">
              <h3>Header</h3><hr>
            </div>


              <div class="large-4 small-6 columns">
                <div class="plan"><h2>Ruby Plan</h2></div>
                <ul class="list-unstyled">
                  <li>Sex and Ruby: Access to all Ruby lessons</li>
                </ul>
                <h3>$4.95/month</h3>
                <div class="panel">
                  <p><%= link_to 'SUBSCRIBE!', new_user_registration_path(plan: 'silver'), :class => 'btn btn-primary' %></p>
                </div>
              </div>


              <div class="large-4 small-6 columns">
                <div class="plan featured-plan"><h2>All Features Plan</h2></div>
                <ul class="list-unstyled">
                  <li>Sex and Programming: Access to all site content (Coming soon. Definitely your best bet though because we're expanding)</li>
                </ul>
                <h3>$9.95/month</h3>
                <div class="panel">
                  <p><%= link_to 'SUBSCRIBE!', new_user_registration_path(plan: 'gold'), :class => 'btn btn-primary' %></p>
                </div>
              </div>



              <div class="large-4 small-6 columns">
                <div class="plan"><h2>Sex and Programming: The Ebook</h2></div>
                <ul class="list-unstyled">
                  <li>Hot girls all over hot code: (Coming soon (heyo!))</li>
                </ul>
                <h3>$15.00</h3>
                <div class="panel">
                  <p><%= link_to 'PRE-ORDER!', new_user_registration_path(plan: 'platinum'), :class => 'btn btn-primary' %></p>
                </div>
              </div>

  </div>



        <footer class="row">
        <div class="large-12 columns">
          <hr>
          <div class="row">
            <div class="large-6 columns">
              <p>*Hey man, I'm gay! Never fear: Click to the right to go to our brother site, <strong>Sex and Programming: The Gay Edition</strong> (coming soon).</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Sex and Programming: The Gay Edition</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Disclaimer</a></li>
              </ul>
            </div>
          </div>
        </div>
        </footer>

<% end %>
